@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&display=swap');

.appTitle {
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-weight: bold;
  font-size: 50px;
}