.register {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.registerText {
  font-size: 12px;
  font-weight: bold;
}

.card {
  justify-content: center;
}

.btn {
  text-decoration: none;
  font-size: 10px;
  color: aliceblue;
}